<html lang="">
<body>
<form>
    email:<label>
        <input type="email" placeholder="email">
    </label>
    password:<label>
        <input type="password">
    </label>
    <button>login</button>
</form>
</body>
</html>